---
title: Pricing
heading: Find the perfect plan for your business
description: All plans include our award winning sales optimization solution to track your sales in real time.
pricing_table:
  - name: Grass
    color: "#8e8e8e"
    features:
      - text: $2 per month
        highlight: true
      - text: 2 GB Ram
        highlight: false
      - text: Up to 2 Mods
        highlight: false
      - text: Unlimited Players
        highlight: false
      - text: 1 GB of storage
        highlight: false
      - text: 2 Backups
        highlight: false
    call_to_action:
      link: http://store.mcxleague.cf/grass
      text: Get started
  - name: Diamond
    color: "#4a4a4a"
    features:
      - text: $10 per month
        highlight: true
      - text: Everything in Grass
        highlight: false
      - text: Up To 15 Mods
        highlight: false
      - text: 4 GB Ram
        highlight: false
      - text: 5 GB Storage
        highlight: false
      - text: 5 Backups
        highlight: false
    call_to_action:
      link: http://store.mcxleague.cf/diamond
      text: Get started
  - name: Netherite
    color: "#000000"
    features:
      - text: $20 per month
        highlight: true
      - text: Everything in Grass and Diamond
        highlight: false
      - text: Unlimited Mods
        highlight: false
      - text: 16 GB Ram
        highlight: false
      - text: Unlimited Storage
        highlight: false
      - text: Unlimited Backups
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
